body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(191, 197, 197);
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.container {
	height: 200px;
	width: 300px;
	background-color: rgb(105, 139, 105);
	border-radius: 10px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.inputs {
	width: 300px;
	display: flex;
	justify-content: space-between;
}

button {
	background-color: rgb(11, 13, 13);
	padding: 10px;
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}

button:hover {
	background-color: rgb(60, 70, 70);
}
