h2 {
	background-color: beige;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-container {
	border: 2px solid red;
	padding: 20px;
	background-color: azure;
}

#container {
	border: 3px dashed blue;
	margin-top: 20px;
	padding: 20px;
	background-color: bisque;
}

.text-red {
	color: red;
}
